{{#if updateQuestion}}
  <form>
    <div style="text-align:left;" class="form-group">
      <label for="author">Full name:</label><br>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="content">Question:</label>
      {{input value=content id="content" size="65"}}
    </div>
    <div class="form-group">
      <label for="notes">Additional Notes:</label>
      {{input value=notes id="notes" size="65"}}
    </div>
    <button style="width: 165px;"{{action 'editQuestion' question}}>Update</button>
  </form>
{{else}}
  <button style="width: 165px;"{{action 'editFormShow'}}>Edit Question</button>
{{/if}}
