<h3 style="display:inline;">{{question.content}}</h3><br><br>
Posted by: {{question.author}}<br>
Additional Notes: {{question.notes}}
<br><br>{{edit-question question=question editQuestion="editQuestion"}}
<br><button style="display:inline; width: 150px;"{{action 'destroyQuestion' question}}>Delete Question</button><hr>
